!!! 5
%html{ class: [user_application_theme, page_class], lang: I18n.locale }
  = render "layouts/head"
  %body{ class: "#{user_tab_width} #{@body_class} fullscreen-layout", data: { page: body_data_page } }
    = render 'peek/bar'
    = header_message
    .gl--flex-full.gl-h-full{ class: nav ? ["layout-page", page_with_sidebar_class, "gl-mt-0!"]: '' }
      - if defined?(nav) && nav
        = render "layouts/nav/sidebar/#{nav}"
      .gl--flex-full.gl-flex-direction-column.gl-w-full
        .alert-wrapper
          = render 'shared/outdated_browser'
          = render "layouts/broadcast"
          = yield :flash_message
          = render "layouts/flash", flash_container_no_margin: true
        .content-wrapper{ id: "content-body", class: "d-flex flex-column align-items-stretch gl-p-0" }
          = yield
    = footer_message
